.themeToggleButton {
  cursor: pointer;
  margin-top: -2rem;
  &::after {
    font-size: 1.5rem;
    content: '🦄';
  }
}

#themeToggle {
  opacity: 0;
  &:checked ~ .themeToggleButton {
    &::after {
      content: '🙈';
    }
  }
}

.themeSwitch {
  position: fixed;
  top: 1rem;
  right: 1rem;
}